/* Dracula Them */
:root{
    --fg: #f8f8f2 rgb(248, 248, 242);

    --bg-2: #040406 rgb(4, 4, 6);
    --bg-4: #08090c rgb(8, 9, 12);
    --bg-5: #0c0c10 rgb(12, 12, 16);
    --bg-7: #0f0f14 rgb(15, 15, 20);
    --bg-8: #121319 rgb(18, 19, 25);
    --bg-9: #14171a rgb(20, 23, 26);
    --bg-10: #13141a rgb(19, 20, 26);
    --bg-11: #191a21 rgb(25, 26, 33);
    --bg-12: #191a22 rgb(25, 26, 34);
    --bg-13: #1a1b23 rgb(26, 27, 35);
    --bg-13-100: #1d1f27 rgb(29, 31, 39);
    --bg-14: #1e2328 rgb(29, 30, 39);
    --bg-14-100: #1f212a rgb(31, 33, 42);
    --bg-15: #20212b rgb(32, 33, 43);
    --bg-15-100: #21232d rgb(33, 35, 45);
    --bg: #1e1f29 rgb(30, 31, 41); /* 14% */
    --bg-16: #22232e rgb(34, 35, 46);
    --bg-16-100: #232530 rgb(35, 37, 48);
    --bg-17: #242631 rgb(36, 38, 49);
    --bg-17-100: #242530 rgb(36, 37, 48);
    --bg-17-200: #262833 rgb(38, 40, 51);
    --bg-18: #282936 rgb(40, 41, 54);
    --bg-18-100: #262834 rgb(38, 40, 52);
    --bg-19: #2a2c39 rgb(42, 44, 57);
    --bg-22: #2f313f rgb(47, 49, 63);
    --bg-24: #343546 rgb(52, 53, 70);
    --bg-24-100: #333545 rgb(51, 53, 69);
    --bg-25: #373a4b rgb(55, 58, 75);
    --bg-25-100: #393b47 rgb(57, 59, 71);
    --bg-26: #383a4c rgb(56, 58, 76);
    --bg-28: #3e4153 rgb(62, 65, 83);
    --bg-29: #3e4055 rgb(62, 64, 85);
    --bg-29-100: #414654 rgb(65, 70, 84);
    --bg-31: #44475a rgb(68, 71, 90);
    --bg-36: #4d506a rgb(77, 80, 106);
    --bg-39: #575e71 rgb(87, 94, 113);
    --bg-43: #5e637f rgb(94, 99, 127);
    --bg-49: #6d768e rgb(109, 118, 142);
    --bg-54: #7b849a rgb(123, 132, 154);
    --bg-59: #8991a5 rgb(137, 145, 165);
    --bg-61: #8c8fab rgb(140, 143, 171);
    --bg-64: #9498b0 rgb(148, 152, 176);
    --bg-64-100: #989fb0 rgb(152, 159, 176);
    --bg-69: #a6acbb rgb(166, 172, 187);
    --bg-74: #b5bac6 rgb(181, 186, 198);
    --bg-75: #b7bcc8 rgb(183, 188, 200);
    --bg-76: #babfca rgb(186, 191, 202);
    --bg-79: #C3C7D1 rgb(195, 199, 209);
    --bg-92: #e9dff4 rgb(233, 223, 244);

    --base: #282a36 rgb(40, 42, 54);

    --primary: #bd93f9 rgb(189, 147, 249);
    --primary-58: #8e6ebb rgb(142, 110, 187);
    --primary-68: #9f63f6 rgb(159, 99, 246);
    --primary-73: #ae7bf8 rgb(174, 123, 248);
    --primary-81: #c6a1fa rgb(198, 161, 250);
    --primary-83: #ccabfa rgb(204, 171, 250);
    --primary-83-100: #cfb1f7 rgb(207, 177, 247);
    --primary-84: #d1b3fb rgb(209, 179, 251);
    --primary-88: #dbc3fc rgb(219, 195, 252);
    --primary-93: #e9dbfd rgb(233, 219, 253);
    --primary-95: #f3f0f3 rgb(243, 240, 243);

    --warning: #ff9f39;
    --error: #ff3c3c;
    --success: #4caec3;
    --active: #50fa7a;
}
