/* Dracula Them */
:root{
    --fg: #cdd9e5 rgb(205, 217, 229);

    --bg-2: #030507 rgb(3, 5, 7);
    --bg-4: #090b0d rgb(9, 11, 13);
    --bg-5: #0b0d0f rgb(11, 13, 15);
    --bg-7: #0e1216 rgb(14, 18, 22);
    --bg-8: #101418 rgb(16, 20, 24);
    --bg-9: #12161a rgb(18, 22, 26);
    --bg-10: #161a1d rgb(22, 26, 29);
    --bg-11: #181c20 rgb(24, 28, 32);
    --bg-12: #1a1e23 rgb(26, 30, 35);
    --bg-13: #1c2126 rgb(28, 33, 38);
    --bg-13-100: #1d2227 rgb(29, 34, 39);
    --bg-14: #1e2328 rgb(30, 35, 40);
    --bg-14-100: #1f2429 rgb(31, 36, 41);
    --bg-15: #21262c rgb(33, 38, 44);
    --bg-15-100: #22272d rgb(34, 39, 45);
    --bg: #1f2429 rgb(31, 36, 41); /* 14% */
    --bg-16: #23282e rgb(35, 40, 46);
    --bg-16-100: #24292f rgb(36, 41, 47);
    --bg-17: #252a31 rgb(37, 42, 49);
    --bg-17-100: #262b32 rgb(38, 43, 50);
    --bg-17-200: #262b33 rgb(38, 43, 51);
    --bg-18: #272d36 rgb(39, 45, 54);
    --bg-18-100: #282e37 rgb(40, 46, 55);
    --bg-19: #282e37 rgb(40, 46, 55);
    --bg-22: #2f373f rgb(47, 55, 63);
    --bg-24: #323c46 rgb(50, 60, 70);
    --bg-24-100: #333d47 rgb(51, 61, 71);
    --bg-25: #374049 rgb(55, 64, 73);
    --bg-25-100: #38414a rgb(56, 65, 74);
    --bg-26: #36424e rgb(54, 66, 78);
    --bg-28: #3c4851 rgb(60, 72, 81);
    --bg-29: #3e4b55 rgb(62, 75, 85);
    --bg-29-100: #424d57 rgb(66, 77, 87);
    --bg-31: #44505c rgb(68, 80, 92);
    --bg-36: #4e5b69 rgb(78, 91, 105);
    --bg-39: #586674 rgb(88, 102, 116);
    --bg-43: #5c6b7d rgb(92, 107, 125);
    --bg-49: #6e8091 rgb(110, 128, 145);
    --bg-54: #7c8c9c rgb(124, 140, 156);
    --bg-59: #8b99a7 rgb(139, 153, 167);
    --bg-61: #8c9ba9 rgb(140, 155, 169);
    --bg-64: #98a4b0 rgb(152, 164, 176);
    --bg-64-100: #9aa6b1 rgb(154, 166, 177);
    --bg-69: #a8b3bd rgb(168, 179, 189);
    --bg-74: #b6bfc8 rgb(182, 191, 200);
    --bg-75: #b6bfc8 rgb(182, 191, 200);
    --bg-76: #b6bfc8 rgb(182, 191, 200);
    --bg-79: #c5ccd3 rgb(197, 204, 211);
    --bg-92: #e5ebf0 rgb(229, 235, 240);

    --base: #282f36 rgb(40, 47, 54);

    --primary: #87baf7 rgb(135, 186, 247);
    --primary-58: #3f90f3 rgb(63, 144, 243);
    --primary-68: #6facf6 rgb(111, 172, 246);
    --primary-73: #87baf7 rgb(135, 186, 247);
    --primary-81: #9fc8f9 rgb(159, 200, 249);
    --primary-83: #b3d1f4 rgb(179, 209, 244);
    --primary-83-100: #b3d1f4 rgb(179, 209, 244);
    --primary-84: #b7d5fa rgb(183, 213, 250);
    --primary-88: #cedff2 rgb(206, 223, 242);
    --primary-93: #d7e5f4 rgb(215, 229, 244);
    --primary-95: #ebf2fa rgb(235, 242, 250);

    --warning: #f69d50;
    --error: #ff938a;
    --success: #56d4dd;
    --active: #50fa7a;
}
