/* Dracula Them */
:root{
    --fg: #f8f8f2;
    --fg-rgb: rgb(248, 248, 242);

    --bg-2: #040406;
    --bg-4: #08090c;
    --bg-7: #0f0f14;
    --bg-8: rgb(18, 19, 25);
    --bg-9: rgb(20, 23, 26);
    --bg-10: #13141a;
    --bg-12: rgb(25, 26, 34);
    --bg-13: rgb(26, 27, 35); /* #1a1b23 */ /* #1d1f27 */
    --bg-14: rgb(29, 30, 39);
    --bg-15: #20212b; /* #21232d */
    --bg: #1e1f29; /* 14% */ /* rgb(30, 31, 41) */
    --bg-16: #22232e;
    --bg-16-100: #232530;
    --bg-17-100: rgb(36, 38, 49); /* 242631 */
    --bg-17-150: rgb(36, 37, 48); /* #242530 */
    --bg-17-200: rgb(38, 40, 51);
    --bg-18: rgb(40, 41, 54); /* #282936 */
    --bg-19: #2a2c39;
    --bg-22: #2f313f;
    --bg-24: #343546; /* #333545 */
    --bg-25: #373a4b; /* rgb(57, 59, 71) */
    --bg-26: #383a4c;
    --bg-28: rgb(62, 65, 83); /* #3e4153 */
    --bg-29: #3e4055;
    --bg-31: rgb(68, 71, 90); /* #44475a */
    --bg-36: #4d506a;
    --bg-43: #5e637f;
    --bg-61: #8c8fab; /* rgb(140, 143, 171) */
    --bg-64: #9498b0;
    --bg-92: #e9dff4;

    --base: #282a36; /* rgb(40, 42, 54) */

    --primary--93: #e9dbfd; /* rgb(233, 219, 253) */
    --primary: rgb(189, 147, 249); /* #bd93f9 */
    --primary-58: rgb(142, 110, 187);
    --primary-73: rgb(174, 123, 248);
    --primary-81: #c6a1fa;
    --primary-83: #ccabfa; /* rgb(204, 171, 250) rgb(207, 177, 247) */
    --primary-84: rgb(209, 179, 251);
    --primary-88: rgb(219, 195, 252);
    --primary-95: #f3f0f3;
    --primary-100: rgb(159, 99, 246);

    --warning: #ff9f39;
    --error: #ff3c3c;
    --success: #4caec3;
    --active: #50fa7a;
}
