// Empoleon Theme Color Palette

// Red
$red-light: #ff938a;
$red-dark: #f47067;

// Pink
$pink-light: #F06292;
$pink-dark: #EC407A;

// Purple
$purple-light: #dcbdfb;
$purple-dark: #b083f0;

// Blue
$blue-light: #6cb6ff;
$blue-dark: #539bf5;

// Teal
$teal-light: #4DB6AC;
$teal-dark: #009688;

// Green
$green-light: #6bc46d;
$green-dark: #57ab5a;

// Yellow
$yellow-light: #daaa3f;
$yellow-dark: #c69026;

// Orange
$orange-light: #f69d50;
$orange-dark: #f2780d;

// Grey
$grey-050: #FAFAFA;
$grey-100: #f0f2f4;
$grey-150: #e2e5e9;
$grey-200: #d3d8de;
$grey-250: #c5cbd3;
$grey-300: #b6bdc8;
$grey-350: #8d98aa;
$grey-400: #8b96a7;
$grey-450: #788598;
$grey-500: #637083;
$grey-550: #48505e;
$grey-600: #3b424d;
$grey-650: #373e49;
$grey-700: #262c34;
$grey-750: #1f2329;
$grey-800: #1e2228;
$grey-850: #1c1f24;
$grey-900: #181b20;
$grey-950: #16191d;

// White
$white: #cdd9e5;

// Black
$black: #16191d;

// Button
$button-close: #f47067;
$button-max: #57ab5a;
$button-min: #daaa3f;

// Theme
$default-light: $blue-light;
$default-dark: $blue-dark;
