:root {
    --fg: #cdd9e5 rgb(205, 217, 229);

    --bg-2: #030405 rgb(3, 4, 5);
    --bg-4: #050607 rgb(5, 6, 7);
    --bg-5: #060708 rgb(6, 7, 8);
    --bg-7: #0a0c0f rgb(10, 12, 15);
    --bg-8: #0b0d10 rgb(11, 13, 16);
    --bg-9: #0b0d10 rgb(11, 13, 16);
    --bg-10: #0b0d10 rgb(11, 13, 16);
    --bg-11: #0b0d10 rgb(11, 13, 16);
    --bg-12: #15191e rgb(21, 25, 30);
    --bg-13: #15191e rgb(21, 25, 30);
    --bg-13-100: #15191e rgb(21, 25, 30);
    --bg-14: #161a1f rgb(22, 26, 31);
    --bg-14-100: #161a1f rgb(22, 26, 31);
    --bg-15: #171b20 rgb(23, 27, 32);
    --bg-15-100: #171b20 rgb(23, 27, 32);

    --bg: #1c2128 rgb(28, 33, 40); /* 14% */

    --bg-16: #1f252d rgb(31, 37, 45);
    --bg-16-100: #1f252d rgb(31, 37, 45);
    --bg-17: #20262e rgb(32, 38, 46);
    --bg-17-100: #20262e rgb(32, 38, 46);
    --bg-17-200: #20262e rgb(32, 38, 46);
    --bg-18: #21272f rgb(33, 39, 47);
    --bg-18-100: #21272f rgb(33, 39, 47);
    --bg-19: #21272f rgb(33, 39, 47);
    --bg-22: #232931 rgb(35, 41, 49);
    --bg-24: #242a32 rgb(36, 42, 50);
    --bg-24-100: #242a32 rgb(36, 42, 50);
    --bg-25: #262c35 rgb(38, 44, 53);
    --bg-25-100: #262c35 rgb(38, 44, 53);
    --bg-26: #262c35 rgb(38, 44, 53);

    --bg-28: #2a313c rgb(42, 49, 60);
    --bg-29: #2a313c rgb(42, 49, 60);
    --bg-29-100: #2a313c rgb(42, 49, 60);
    --bg-31: #2c333e rgb(44, 51, 62);
    --bg-36: #2c333e rgb(44, 51, 62);
    --bg-39: #2e3540 rgb(46, 53, 64);
    --bg-43: #2e3540 rgb(46, 53, 64);
    --bg-49: #343e4b rgb(52, 62, 75);
    --bg-54: #36404d rgb(54, 64, 77);
    --bg-59: #38424f rgb(56, 66, 79);
    --bg-61: #38424f rgb(56, 66, 79);
    --bg-64: #3a4451 rgb(58, 68, 81);
    --bg-64-100: #3a4451 rgb(58, 68, 81);
    --bg-69: #3f4a5a rgb(63, 74, 90);
    --bg-74: #495669 rgb(73, 86, 105);
    --bg-75: #546278 rgb(84, 98, 120);
    --bg-76: #5e6e87 rgb(94, 110, 135);
    --bg-79: #697c96 rgb(105, 124, 150);
    --bg-92: #b4bdcb rgb(180, 189, 203);

    --base: #22272e rgb(34, 39, 46);

    --primary: #87baf7 rgb(135, 186, 247);
    --primary-58: #3f90f3 rgb(63, 144, 243);
    --primary-68: #6facf6 rgb(111, 172, 246);
    --primary-73: #87baf7 rgb(135, 186, 247);
    --primary-81: #9fc8f9 rgb(159, 200, 249);
    --primary-83: #b3d1f4 rgb(179, 209, 244);
    --primary-83-100: #b3d1f4 rgb(179, 209, 244);
    --primary-84: #b7d5fa rgb(183, 213, 250);
    --primary-86: #b9d6fc rgb(185, 214, 252);
    --primary-88: #cedff2 rgb(206, 223, 242);
    --primary-90: #cfe3fc rgb(207, 227, 252);
    --primary-93: #d7e5f4 rgb(215, 229, 244);
    --primary-94: #e7f1fd rgb(231, 241, 253);
    --primary-95: #ebf2fa rgb(235, 242, 250);

    --warning: #f69d50;
    --error: #ff938a;
    --success: #56d4dd;
    --active: #50fa7a;
}
