:root {
    --caret: #6cb6ff;
    --caret-row: #2d333b;

    --console-bg-key: #1e2228;
    --guttter-bg: #22272e;
    --selection-bg: #274467;
    --input-white: #cdd9e5;

    --white: #cdd9e5;
    --blue: #6cb6ff;
    --cyan: #56d4dd;
    --green: #6bc46d;
    --grey: #545d68;
    --orange: #f69d50;
    --magenta: #dcbdfb;
    --red: #ff938a;
    --yellow: #daaa3f;

    --blue-100: #6cb6ff;
    --blue-200: #539bf5;
    --blue-300: #1778bd;
    --blue-400: #245980;

    --cyan-100: #56d4dd;
    --cyan-200: #39c5cf;
    --cyan-300: #156e6e;
    --cyan-400: #154f4f;

    --grey-100: #909dab;
    --grey-200: #636e7b;
    --grey-300: #616161;
    --grey-400: #424242;

    --green-100: #6bc46d;
    --green-200: #57ab5a;
    --green-300: #458500;
    --green400: #39511f;

    --magenta-100: #dcbdfb;
    --magenta-200: #b083f0;
    --magenta-300: #b247b2;
    --magenta-400: #5c4069;

    --red-100: #ff938a;
    --red-200: #f47067;
    --red-300: #b82421;
    --red-400: #772e2c;

    --yellow-100: #daaa3f;
    --yello2-200: #c69026;
    --yellow-300: #a87b00;
    --yellow-400: #5c4f17;
}
